html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Avenir Next;
}

/* --------------------------------------------------------------------------------------------------- */

#header {
    /* width: 100%;    */
    height: 50px;
    /* background-color: red; */
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header #back-acads {
    width: 120px;
    height: 37px;
    border-radius: 5px;
    background-color: #2e86de;
    font-family: Avenir Next;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: auto 20px;
}

#header #page-title {
    margin: auto 0;
    border: none;
    font-family: Avenir Next;
    outline: none
}

#header #go-home {
    margin: auto 20px;
}

/* --------------------------------------------------------------------------------------------------- */

#sidebar {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 250px;
    background-color: rgb(237, 237, 237);
}

.sb-option {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

.sb-option:hover {
    cursor: pointer;
    transition: 0.5s;
}

.sb-option .opt-title {
    color: black;
    padding-left: 10px;
    font-size: 12px;
    margin: auto 0;
}

/* --------------------------------------------------------------------------------------------------- */

.panel {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
}

#about-panel {
    background-color: rebeccapurple;
    display: none;
}

#view-panel {
    background-color: lightcoral;
    display: none;
}

#modsel-panel {
    background-color: lightgreen;
    display: none;
}

#modreq-panel {
    background-color: lightsalmon;
    display: none;
}

#selecttut-panel {
    background-color: lightpink;
    display: none;
}

#addswap-panel {
    background-color: lightslategray;
    display: none;
}

#drop-panel {
    background-color: lightgoldenrodyellow;
    display: none;
}

#appeals-panel {
    background-color: lightcyan;
    display: none;
}