html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Avenir Next;
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------------------------------------------------------------------------------------------- */

#header {
    /* width: 100%;    */
    height: 50px;
    /* background-color: red; */
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header #back-acads {
    width: 120px;
    height: 37px;
    border-radius: 5px;
    background-color: #2e86de;
    font-family: Avenir Next;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: auto 20px;
}

#header #page-title {
    margin: auto 0;
    border: none;
    font-family: Avenir Next;
    outline: none
}

#header #go-home {
    margin: auto 20px;
}

/* --------------------------------------------------------------------------------------------------- */

#sidebar {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 250px;
    background-color: rgb(237, 237, 237);
}

.sb-option {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

.sb-option:hover {
    cursor: pointer;
    transition: 0.5s;
}

.sb-option .opt-title {
    color: black;
    padding-left: 10px;
    font-size: 12px;
    margin: auto 0;
}

/* --------------------------------------------------------------------------------------------------- */

.panel {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
}

/* --------------------------------------------------------------------------------------------------- */

#about-panel {
    background-color: white;
    display: none;
    padding: 25px;
}

#about-panel #about-title {
    font-size: 40px;
    padding: 0 0 10px 0;
    font-weight: bold;
    color: #54a0ff;
}

/* --------------------------------------------------------------------------------------------------- */

#view-panel {
    background-color: white;
    display: none;
    padding: 25px;
    overflow: scroll;
}

#view-banner-title {
    font-weight: bold;
    font-size: 15px;
    padding: 20;
}

#view-banner-subtitle {
    font-size: 14px;
    padding: 20;
}

.view-mod-title {
    font-size: 16px;
    color: #e4aa46;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
}

.view-mod-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;   
}

.view-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    margin: 0;
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
}

.view-container-header p {
    margin: auto 0;
    font-weight: bold;
    padding: 0 15px;
}

.view-container-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.view-container-item p {
    margin: auto 0;
    padding: 0 15px;
}

/* --------------------------------------------------------------------------------------------------- */

#modsel-panel {
    background-color: white;
    display: none;
    padding: 25px;
    overflow: scroll;
}

#modsel-panel #modsel-info p {
    font-size: 13px;
    padding: 2px 0;
    margin: 0;
}

#modsel-panel #modsel-info #modsel-mc-setter {
    width: 50px;
    height: 20px;
    margin-left: 10px;
    text-indent: 5px;
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 600;
    outline: none;
}

#modsel-panel #modsel-info #modsel-submit {
    width: 90px;
    height: 37px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1dd1a1;
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
}

#modsel-panel #modsel-info #modsel-rank {
    width: 90px;
    height: 37px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #dddddd;
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 10px;
}

#modsel-panel #modsel-container {
    width: 90%;
    height: auto;
    margin: 10px 0;
    background-color: rgb(235, 235, 235);
    border-radius: 7px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px 10px 10px;
}

#modsel-select-popup {
    display: none;
    position: absolute;
    width: 75%;
    height: 85%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(238, 238, 238);
    z-index: 10000;
    margin: auto auto;
    border-radius: 7px;
    padding: 20px;
    box-sizing: 2px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

#modsel-select-popup #modsel-popup-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#modsel-select-popup #modsel-popup-header span {
    width: 90px;
    margin: auto 30px;
}

#modsel-select-popup #modsel-popup-header #modsel-popup-close {
    width: 60px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: auto 20px auto 10px;
}

#modsel-select-popup #modsel-popup-header #modsel-popup-tite {
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    margin: auto 0;
    color: #e58e26;
}

#modsel-select-popup #modsel-container .modsel-container-field-text {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    font-weight: bold;
    color: gray;
}

#modsel-select-popup #modsel-container input[type=text] {
    width: 98%;
    border-radius: 5px;
    font-family: Avenir Next;
    font-size: 14px;
    text-indent: 10px;
    outline: none;
    border: 1px solid black;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

#modsel-select-popup #modsel-search {
    width: 80px;
    height: 37px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1dd1a1;
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

#modsel-panel #modsel-final-mods-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

#modsel-panel #modsel-final-mods-container #modsel-final-mods-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin: 0;
    background-color: lightgray;
    border: 1px solid black;
}

#modsel-panel #modsel-final-mods-container #modsel-final-mods-container-header p {
    margin: auto 0;
    font-weight: bold;
    padding: 0 15px;
}

.mod {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.mod p {
    font-size: 14px;
    margin: auto 0;
    padding: 0 15px;
}

.mod .mod-title {
    width: 40%;
}

.mod .mod-units {
    width: 7%;
}

.mod .mod-rank {
    width: 10%;
}

.mod .mod-status {
    width: 12%;
}

.mod .mod-edit {
    width: 15%;
    color: #62abc4;
}

.mod .mod-remove {
    width: 8%;
    color: #62abc4;
}

#modsel-search-result-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin: 0;
    background-color: lightgray;
    border: 1px solid black;
}
    
#modsel-search-result-header p {
        margin: auto 0;
        padding: 0 15px;
}

.mod-res {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.mod-res p {
    font-size: 14px;
    margin: auto 0;
    padding: 0 15px;
}

.mod-res .mod-res-class {
    width: 20%;
    cursor: pointer;
    color: #62abc4;
}

.mod-res .mod-res-activity {
    width: 20%;
}

.mod-res .mod-res-session {
    width: 10%;
}

.mod-res .mod-res-vacancy {
    width: 10%;
}

.mod-res .mod-res-selected {
    width: 25%;
}

.mod-res .mod-res-select {
    width: 15%;
}

.mod-res .mod-res-select-btn {
    width: 70px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: auto 0;
}

/* --------------------------------------------------------------------------------------------------- */

#modreq-panel {
    background-color: white;
    display: none;
    padding: 25px;
    overflow: scroll;
}

#modreq-title {
    font-size: 14px;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------------------------- */

#selecttut-panel {
    background-color: lightpink;
    display: none;
}

#addswap-panel {
    background-color: lightslategray;
    display: none;
}

/* --------------------------------------------------------------------------------------------------- */

#drop-panel {
    background-color: white;
    display: none;
    padding: 25px;
    overflow: scroll;
}

#drop-banner-title {
    font-weight: bold;
    font-size: 15px;
    padding: 20;
    color: #e4aa46;
}

.drop-mod-title {
    font-size: 16px;
    color: #e4aa46;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
}

#drop-mod-container {
    width: 100%;
    height: auto;
    margin-top: 20px;   
    margin-bottom: 10px;
}

#drop-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    margin: 0;
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
}

#drop-container-header p {
    margin: auto 0;
    font-weight: bold;
    padding: 0 15px;
}

.drop-container-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.drop-container-item p {
    margin: auto 0;
    padding: 0 15px;
}

#mod-drop-select-btn {
    width: 60px;
    height: 37px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(223, 223, 223);
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------- */

#appeals-panel {
    background-color: white;
    display: none;
    padding: 25px;
    overflow: scroll;
}

#add-appeals-btn {
    width: 175px;
    height: 37px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #54a0ff;
    font-family: Avenir Next;
    font-weight: 600;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
}

#add-appeals-btn:hover {
    opacity: 0.5;
    transform: scale(1.01);
    transition: 0.5s;
}

#appeals-container {
    width: 100%;
    height: auto;
    margin-top: 20px;   
    margin-bottom: 10px;
}

#appeals-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    margin: 0;
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
}

#appeals-container-header p {
    margin: auto 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

.appeals-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.appeals-item p {
    margin: auto 0;
    padding: 0 15px;
}

/* --------------------------------------------------------------------------------------------------- */

#rickroll-panel {
    background-color: white;
    padding: 25px;
    display: none;
}

#rickroll-panel #rickroll-banner-title {
    font-weight: bold;
    font-size: 25;
    margin: 20px 0;
}